.club {
  height: 900px;
  &__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;

    &__text {
      max-width: 600px;
      font-size: 16px;
      color: #666;
    }
  }
  &__wrapper {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 4fr 6fr;
    &__item {
      display: grid;
      grid-template-columns: 1fr 5fr;
      margin-bottom: 40px;
      img {
        padding-top: 10px;
      }
      &__title {
        font-size: 22px;
      }
      &__subtitle {
        font-size: 14px;
        color: #666;
      }
    }
  }
}
